@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

body {
	background-color: #fae496;
	border-style: solid;
	border-width: 1px;
	font-family: roboto;
}

.container {
	display: flex;
	justify-content: flex-start;
}

.links {
	margin-left: 1200px;
}

.item {
	display: flex;
	justify-content: center;
}

.lista {
	display: inline;
	flex-direction: column;
}

ul li {
	display: inline;
}

li {
	text-decoration: none;
}

a {
	color: black;
	text-decoration: none;
}

.cabecario {
	max-width: 150px;
	height: 9vh;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	text-transform: uppercase;
}

.footerBack {
	max-width: 100%;
	height: auto;
	height: max-content;
	background-color: #fce07b;
}

header {
	border-style: solid;
	border-width: 1px;
}

footer {
	border-style: solid;
	border-width: 1px;
}

nav {
	justify-content: space-around;
	align-content: center;
	background: #ff9036;
	border-style: solid;
	border-width: 1px;
	height: 10vh;
}

.nav-list {
	list-style: none;
	display: flex;
}

.nav-list li {
	letter-spacing: 3px;
	margin-left: 32px;
}

section {
	border-style: solid;
	border-width: 1px;
}

.site {
	color: black;
	text-decoration: underline;
}

@keyframes botao {
	0% {
		transform: scale(1);
	}

	100% {
		color: white;
	}
}

a:hover {
	animation-name: botao;
	animation-timing-function: ease-in-out;
	animation-duration: 0.5s;
	animation-iteration-count: 1;
	animation-direction: alternate-reverse;
}
