@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');

* {
	margin: 0;
	padding: 0;
  }

  body {
	background-color: #9191b4; 
  }
  
  a {
	color: #fff;
	text-decoration: none;
	transition: 0.3s;
  }
  
  a:hover {
	opacity: 0.7;
  }
  
  .logo_img {
	margin-right: 15px;
	max-width: 150px;
	  height: 7vh;
	  text-transform: uppercase;
  }
  
  .logo {
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 4px;
  }
  
  nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #23232e;
	height: 8vh;
  }
  
  .nav-list {
	list-style: none;
	display: flex;
  }
  
  .nav-list li {
	letter-spacing: 3px;
	margin-left: 32px;
  }